@import url('https://fonts.googleapis.com/css?family=Kosugi+Maru&display=swap');
@import url('https://fonts.googleapis.com/css?family=Open+Sans:600');
@import url('https://fonts.googleapis.com/css?family=Jua');
@import url('https://fonts.googleapis.com/css?family=Work+Sans');
@import url('https://fonts.googleapis.com/css?family=Fjalla+One');
@import url('https://fonts.googleapis.com/css?family=Acme');
@import url('https://fonts.googleapis.com/css?family=Concert+One');
@import url('https://fonts.googleapis.com/css?family=Righteous');

.reveal {
    font-family: 'Kosugi Maru', sans-serif !important;
    font-size: 0.6em;
}

.reveal pre code {
    font-family: 'Ubuntu Mono';
}

.slide-title {
    color: orangered;
    text-transform: uppercase;
    font-size: 0.5em;
}
