@import url('https://fonts.googleapis.com/css?family=Kosugi+Maru&display=swap');
@import url('https://fonts.googleapis.com/css?family=Open+Sans:600');
@import url('https://fonts.googleapis.com/css?family=Jua');
@import url('https://fonts.googleapis.com/css?family=Work+Sans');
@import url('https://fonts.googleapis.com/css?family=Fjalla+One');
@import url('https://fonts.googleapis.com/css?family=Acme');
@import url('https://fonts.googleapis.com/css?family=Concert+One');
@import url('https://fonts.googleapis.com/css?family=Righteous');

.reveal {
    font-family: 'Kosugi Maru', sans-serif !important;
    font-size: 2em;
}
.reveal h1 {
    font-family: 'Kosugi Maru', sans-serif !important;
}
.reveal h2{
    font-family: 'Kosugi Maru', sans-serif !important;
}
.reveal h3{
    font-family: 'Kosugi Maru', sans-serif !important;
}
.reveal h4{
    font-family: 'Kosugi Maru', sans-serif !important;
}
.reveal h5{
    font-family: 'Kosugi Maru', sans-serif !important;
}
.reveal h6{
    font-family: 'Kosugi Maru', sans-serif !important;
}

.slide-title {
    font-family: 'Kosugi Maru', sans-serif !important;
}
